<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Freelance Project Management System">
    <meta name="author" content="Mustafa Zahid Efe">
    <title>{{ DENEME DENEME DENEME }}</title>
    <!-- Stylesheet-->
    <link href="{{ asset('panel/assets/css/app.css') }}" rel="stylesheet">
    <!-- Page Styles-->
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
{% block head %}{% endblock %}
{% block body %}{% endblock %}
<!-- Javascript-->
<script src="{{ asset('panel/assets/js/app.js') }}"></script>
</body>
</html>
