<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AnkaraPHP Laravel Workshop Freelance Project Management System">
    <meta name="author" content="AnkaraPHP">
    <title>Freelance Project Management System</title>
    <!-- Stylesheet-->
    <link href="assets/css/app.css" rel="stylesheet">
    <!-- Page Styles-->
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <h1>Sıfırlama Bağlantısı Gönderildi!</h1>
                <p class="text-muted">Hesabınızı sıfırlamanız için 'demo@ankaraphp.com' e-posta adresine bir bağlantı gönderdik. Lütfen e-posta adresinizi kontrol edin.</p><a href="login.html" class="btn btn-primary px-4">Giriş Yap</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="assets/js/app.js"></script>
  </body>
</html>