<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AnkaraPHP Laravel Workshop Freelance Project Management System">
    <meta name="author" content="AnkaraPHP">
    <title>Freelance Project Management System</title>
    <!-- Stylesheet-->
    <link href="assets/css/app.css" rel="stylesheet">
    <!-- Page Styles-->
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <h1>Giriş Yap</h1>
                <p class="text-muted">Hesabınıza giriş yapın</p>
                <form method="get" action="index.html">
                  <div class="input-group mb-3"><span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="email" placeholder="E-Posta Adresi" required class="form-control">
                  </div>
                  <div class="input-group mb-4"><span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password" placeholder="Parola" required class="form-control">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Giriş Yap</button>
                    </div>
                    <div class="col-6 text-right"><a href="forgot.html" class="btn btn-link px-0">Parolamı Unuttum?</a></div>
                  </div>
                </form>
              </div>
            </div>
            <div style="width:44%" class="card card-inverse card-primary py-5 d-md-down-none">
              <div class="card-block text-center">
                <div>
                  <h2>Takım Oluştur</h2>
                  <p>Geliştirme takımınız ile projelerinizi planlayabilir, gerekli görev dağıtımını yapabilir ve hatta dosya depolayabilirsiniz.</p><a href="register.html" class="btn btn-primary active mt-3">Hemen Takım Oluştur!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="assets/js/app.js"></script>
  </body>
</html>